{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h3 class="mb-3">Reset Your Password</h3>
    <form method="POST" action="{{ url_for('reset_password', token=token) }}">
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" required>
        </div>
        <button type="submit" class="btn btn-success mt-3">Reset Password</button>
    </form>
</div>
{% endblock %}
